@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --font0: "DM Sans";
    --font1: "Segoe UI";
    --font2: Verdana;
    --font3: "Montserrat";
}

body {
    margin: 0;
    background: white;
}


/****************************************************************************************
 ****************************************************************************************
 * NAVBAR
 ****************************************************************************************
 ***************************************************************************************/
nav {
    width: 100%;
    box-sizing: border-box;
    padding-left: 28px;
    /* position */
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
}

nav div {
    padding: 20px 25px;
    transition: all .3s;
}

nav .button {
    float: left;
}

nav .link {
    float: right;
}

nav div:hover {
    background: rgba(0, 0, 0, 0.05);
}

nav img {
    height: 20px;
    aspect-ratio: 1/1;
    transition: all 0.3s ease-out;
}

@media screen and (max-width: 400px) {
    nav div:not(#menu) {
        display: none;
    }
}


/****************************************************************************************
 ****************************************************************************************
 * MENU
 ****************************************************************************************
 ***************************************************************************************/
.menu {
    height: 100vh;
    width: 30vw;
    padding-left: 2%;
    /* position */
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    /* appearence */
    background: white;
    transition: all 0.3s ease-out;
    /* text */
    font-family: var(--font0);
}

.menu div {
    height: calc(40px + 3vh);
}

.menu .closebutton {
    position: relative;
    float: right;
    height: 100%;
    aspect-ratio: 1/1;
    transition: all .3s;
}

.menu .closebutton:hover {
    background: rgba(0, 0, 0, 0.05);
}

.menu .closebutton span {
    display: block;
    width: 50%;
    height: 1px;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu .closebutton span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 750px) {
    .menu {
        width: 100%;
    }
}


/****************************************************************************************
 ****************************************************************************************
 * HEADER
 ****************************************************************************************
 ***************************************************************************************/
header {
    height: 100vh;
}

.header-container {
    width: 100%;
    height: 100%;
    /* flex */
    display: flex;
    align-items: center;
    /* animation */
    animation: appear 1s ease forwards;
}

@keyframes appear {
    0% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}

/* Text *****************************/
header .text {
    width: 50%;
    box-sizing: border-box;
    padding-left: 10%;
}

header .text div div {
    width: max-content;
}

header .text div div h1 {
    width: max-content;
    margin: 0 5px;
    /* text */
    font: 700 2.6em var(--font0);
    color: rgb(15, 15, 17);
}

header .text div div span {
    display: block;
    height: 2px;
    width: 100%;
    /*background: linear-gradient(115deg, #ff72ff, #48a3ff);*/
    background: linear-gradient(115deg, dodgerblue, limegreen);
}

header .text p {
    font: 400 1.1em var(--font3);
    color: rgb(24, 24, 24);
}

/* Image *****************************/
header .image {
    width: 50%;
    position: relative;
}

header .image .window {
    width: 35%;
    aspect-ratio: 16/10;
    /* aspect */
    background: #222;
    border-radius: 5px;
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%) rotateZ(0deg) rotateX(-20deg) rotateY(35deg);
    /* animation */
    animation: open-shadow .5s ease-out forwards;
}

@keyframes open-shadow {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: darkorchid -50px -25px, dodgerblue -100px -50px;
    }
}

.window span {
    display: block;
    height: 4%;
    margin: 1.5% 5px;
    background: white;
    border-radius: 2px;
}

.top {
    background: #151515;
    height: 10%;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    padding: 0 3%;
}

.top span {
    display: block;
    height: 37%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    float: left;
    margin: 0 2px;
}

.top span:nth-child(1) {
    background: red;
}

.top span:nth-child(2) {
    background: yellow;
}

.top span:nth-child(3) {
    background: limegreen;
}

@media screen and (max-width: 850px) {
    nav {
        position: relative;
    }
    .header-container {
        display: initial;
    }
    header .text, header .image {
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
    }
    header .text {
        padding-right: 10%;
    }
    header .image .window {
        top: 0;
        transform: translate(-35%, 50%) rotateZ(0deg) rotateX(-20deg) rotateY(35deg);
    }
}


/****************************************************************************************
 ****************************************************************************************
 * SECTION 1
 ****************************************************************************************
 ***************************************************************************************/
section:nth-child(1) {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    /* box */
    height: 350px;
    aspect-ratio: 10/12.5;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    /* aspect */
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 1px;
    filter: opacity(0);
    text-align: center;
}

.card h1 {
    font-family: var(--font0);
}

.card img {
    width: 70%;
    aspect-ratio: 1/1;
}

@keyframes get-in {
    0% {
        filter: opacity(0);
        transform: translateY(50px);
    }
    100% {
        filter: opacity(1);
        transform: translateY(0px);
    }
}

@media screen and (max-width: 140vh) {
    section:nth-child(1) {
        display: table;
        text-align: center;
    }
    .card {
        display: inline-block;
        margin: 20px;
    }
}

/* Graphic */
.card .graphic {
    /* box */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
    /* position */
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    /* text */
    color: black;
    font-family: var(--font3);
    font-size: 1em;
    /* aspect */
    transition: .3s ease-out;
    background: white;
}

.graphic .columns {
    height: 90%;
    display: flex;
    border-bottom: 2px solid #1c1c1c;
    position: relative;
}

.graphic .background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.graphic .background span {
    display: block;
    height: calc(20% - 1px);
    border-top: 1px solid #666;
}

.graphic .column {
    position: relative;
    width: 100%;
    height: 100%;
}

.graphic .column span {
    /* box */
    display: block;
    width: 25%;
    /* position */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* aspect */
    /*background: dodgerblue;*/
    background: linear-gradient(115deg, #d44bd4, #2894ff);
    border-radius: 4px 4px 0 0;
}

.graphic .column span .percentage {
    position: absolute;
    padding: 0 1px;
    background: white;
    line-height: 0.9em;
    transform: translate(-100%, -50%);
}

.graphic .names {
    /* box */
    height: max-content;
    box-sizing: border-box;
    padding: 10px 5px;
    /* flex */
    display: flex;
    justify-content: space-around;
}

.card:hover .graphic {
    transform: translateY(0);
}

.card:hover {
    box-shadow: rgba(104, 164, 224, 0.8) 0 0 10px 1px;
}


/****************************************************************************************
 ****************************************************************************************
 * SECTION 2
 ****************************************************************************************
 ***************************************************************************************/
section:nth-child(2) {
    height: 100vh;
    background: #eee;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 20px;
}

.squares {
    position: relative;
    height: 100%;
}

.squares span {
    aspect-ratio: 1/1;
    position: absolute;
    display: block;
    background: #f1f1f1;
}

.squares span:nth-child(1) {
    height: 25vh;
    bottom: 15vh;
    right: 15vh;
    transform: rotate(-55deg);
    box-shadow: rgba(30, 144, 255, 0.3) 0 0 10px;
}

.squares span:nth-child(2) {
    height: 18vh;
    bottom: 47vh;
    right: 10vh;
    transform: rotate(-40deg);
    box-shadow: rgba(153, 50, 204, 0.3) 0 0 10px;
}

.squares span:nth-child(3) {
    height: 14vh;
    bottom: 62vh;
    right: 32vh;
    transform: rotate(-10deg);
    box-shadow: rgba(30, 144, 255, 0.3) 0 0 10px;
}

.squares span:nth-child(4) {
    height: 10vh;
    bottom: 80vh;
    right: 23vh;
    transform: rotate(45deg);
    box-shadow: rgba(153, 50, 204, 0.3) 0 0 10px;
}


/****************************************************************************************
 ****************************************************************************************
 * FOOTER
 ****************************************************************************************
 ***************************************************************************************/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

footer .link {
    /*height: 9vh;*/
    height: 60px;
    aspect-ratio: 1/1;
    float: left;
    font-size: 1.5em;
    text-align: center;
    margin: 0 14px;
    position: relative;
    line-height: 10vh;
}

footer .link img {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .link span {
    position: absolute;
    background: black;
    transition: all .5s;
}

footer .link span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
}

footer .link:hover span:nth-child(1) {
    width: 0;
}

footer .link span:nth-child(2) {
    width: 1px;
    height: 0;
    top: 0;
    left: 0;
}

footer .link:hover span:nth-child(2) {
    height: 100%;
}

footer .link span:nth-child(3) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 0;
}

footer .link:hover span:nth-child(3) {
    width: 0;
}

footer .link span:nth-child(4) {
    width: 1px;
    height: 0;
    bottom: 0;
    right: 0;
}

footer .link:hover span:nth-child(4) {
    height: 100%;
}
